@mixin btn_style($bg-color, $hover-color, $text-color: #FFFFFF, $outline: false) {
  @if $outline == false {
    background-color: $bg-color;
    color: $text-color;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    &:hover {
      background-color: $hover-color;
    }

  } @else {
    background-color: $bg-color;
    color: $text-color;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    &:hover {
      background: transparent;
      color: #333333;
      border: 3px solid $hover-color;
    }
  }
  
}