@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

// Colors
$primary-color: #B88E2F;
$secondary-color: #FFF3E3;
$background-color: #FFFFFF;

$text-color-black: #333333;
$text-color-white: #FFFFFF;
$text-subtitle-color: #616161;

// Fonts
$base-font-family: 'Poppins', sans-serif;
$logo-font-family: 'Monsterrat', sans-serif;
$base-font-size: 1rem;

// Container
$container-padding: 15px;

// Grid
$column-gap: 15px;
$columns: 12;

// Breakpoints
$breakpoints: (
        'xs': 0,
        'sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1200px
);