@import "variables";
@import "mixins";
@import "functions";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: $base-font-family;
}

.container {
  padding: 10px 80px;
}

.btn {
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 14px 28px;

  &.primary {
    background-color: $primary-color;
    color: $text-color-white;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    transition: 0.3s ease-in-out;
    &:hover {
      background: transparent;
      color: $text-color-black;
      border: 3px solid $primary-color;
    }
  }
  &.secondary {
    background-color: $secondary-color;
    color: $primary-color;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    transition: color 0.3s ease-in-out;
    &:hover {
      background: #FAE6A8FF;
      color: $text-color-black;
    }
  }
}

.text {
  font-size: 1rem;
  font-weight: 400;

  &.heading {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    margin: 10px 0 10px 0;
    color: $primary-color;
  }
  &.subheading {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
  }
  &.title {
    font-size: 32px;
    font-weight: 600;
  }
  &.subtitle {
    font-size: 20px;
    font-weight: 500;
    color: $text-subtitle-color;
  }
  &.product-title {
    font-size: 24px;
    font-weight: 500;
  }
  &.product-subtitle {
    font-size: 24px;
    font-weight: 500;
  }
  &.product-price {
    font-size: 24px;
    font-weight: 500;
  }
  &.product-after-disc {
    font-size: 24px;
    font-weight: 500;
  }
  &.product-before-disc {
    font-size: 24px;
    font-weight: 500;
  }
}

.section-wrapper {
  .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .section-content {
    margin-bottom: 50px;
  }
}

.navbar {
  padding: 1rem 2rem;
  background-color: white;

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      width: auto;
      height: auto;
      margin-right: 5px;
    }

    span {
      font-family: $logo-font-family;
      color: $text-color-black;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .menu {
    display: flex;
    padding: 0;
    margin: 0;

    .menu-item {
      .menu-link {
        color: $text-color-black;
        font-size: 1rem;

        img {
          width: 24px;
          height: 24px;
        }

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .center-menu {
    @extend .menu;
    gap: 40px;
  }

  .right-menu {
    @extend .menu;
    gap: 15px;
  }
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;

  .product-card {
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    .product-label {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 0.8rem;
      font-weight: 500;
      color: $text-color-white;

      &.disc {
        background-color: #E97171;
      }

      &.new {
        background-color: #2EC1AC;
      }
    }
    .product-description {
      //background-color: #B88E2F;
      padding: 15px 15px 35px 15px;
    }
  }
}

.footer {
  padding: 35px 80px;

  .footer-content {
    display: flex;
    gap: 90px;
  }

  .footer-left-content {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .footer-logo {
      font-size: 24px;
      font-weight: 600;
    }

    .footer-description {
      font-size: 1rem;
      font-weight: 400;
      color: $text-subtitle-color;
    }
  }

  .footer-right-content {
    flex: 1;
    display: flex;
    justify-content: space-between;

    .footer-menu {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .footer-menu-title {
        font-size: 16px;
        font-weight: 500;
        color: $text-subtitle-color;
      }

      .footer-menu-content {
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;

          li {
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;

            &:hover {
              color: $primary-color;
            }
          }
        }

        input,
        button {
          height: 24px;
          outline: 0;
          border-width: 0 0 2px;
          background: transparent;
          font-size: 14px;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            border-color: $primary-color;
          }

          &:focus {
            border-color: $primary-color;
          }
        }

        input {
          margin-right: 20px;
        }
      }
    }
  }

  .footer-copyright {
    margin-top: 40px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.img-hero-wrapper {
  position: relative;

  .img-hero {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .card-hero {
    position: absolute;
    background-color: $secondary-color;
    top: 100px;
    right: 90px;
    width: 470px;
    padding: 20px;
    height: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.img-text-wrapper {
  display: flex;
  justify-content: space-evenly;

  .img-text-item {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    img {
      opacity: 1;
      width: 300px;
      height: auto;
      display: block;
      transition: opacity 0.5s ease;
    }

    .content {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
    }

    .content-overlay {
      transition: opacity 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      background: rgba(0, 0, 0, 0.5);
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    &:hover {
      img {
        opacity: 0.3;
      }

      .content-overlay {
        opacity: 1;
      }
    }
  }
}